@charset "UTF-8";


body {
    background-image: url(../images/admin_bj.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
	
	text-align:center;
}

form table{
	align-center:center;
	margin:0px auto;
	
}


.banq{background-color: rgb(213,184,186);
text-align: center;
margin: 0 auto;
position:absolute;
bottom:0px;
width:100%;
/* margin-top: 30px;
padding-top: 30px;
padding-bottom: 30px; */
font-size: 15px;clear: both;}
